html,body{
  margin:0;
  padding:0;
  height:100%;
  background:white;
  font-family:system-ui;
}

/* Splash pantalla */
#splash{
  position:fixed;
  inset:0;
  background:white;

  display:flex;
  align-items:center;
  justify-content:center;

  transition:opacity 0.9s ease;
}

/* Logo */
#logo{
  width:140px;
  height:auto;
  opacity:0;
  animation:appear 0.8s ease forwards;
}

/* Aparece */
@keyframes appear{
  to{
    opacity:1;
    transform:scale(1);
  }
  from{
    opacity:0;
    transform:scale(0.9);
  }
}

/* Desaparece */
.fade{
  opacity:0;
  pointer-events:none;
}
