html,body{
  margin:0;
  padding:0;
  height:100%;
  background:white;
  font-family:system-ui;
}

/* SPLASH */

#splash{
  position:fixed;
  inset:0;
  background:white;

  display:flex;
  align-items:center;
  justify-content:center;

  transition:opacity 0.9s ease;
  z-index:9999;
}

#logo{
  width:140px;
  height:auto;

  opacity:0;
  transform:scale(0.92);

  animation:logoAppear 0.8s ease forwards;
}

@keyframes logoAppear{
  to{
    opacity:1;
    transform:scale(1);
  }
}

.fade{
  opacity:0;
  pointer-events:none;
}

/* PAGE APPEAR */

#page{
  min-height:100vh;
  background:white;
  opacity:0;
  transition:opacity 1.2s ease;
}

#page.show{
  opacity:1;
}

.hidden{
  opacity:0;
}
