body{
  margin:0;
  font: 15px/1.6 ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.container{
  max-width: 900px;
  margin: 0 auto;
  padding: 32px 18px;
}
