html,body{
  margin:0;
  padding:0;
  height:100%;
  background:white;
  font-family:system-ui;
}

/* SPLASH */

#splash{
  position:fixed;
  inset:0;
  background:white;

  display:flex;
  align-items:center;
  justify-content:center;

  transition:opacity 1.2s ease;
  z-index:9999;
}

/* Logo empieza totalmente invisible */
#logo{
  width:140px;
  height:auto;

  opacity:0;
  transform:scale(0.92);

  transition: opacity 2.2s ease, transform 2.2s ease;
}

/* Aparece MUY suave */
#logo.logo-in{
  opacity:1;
  transform:scale(1);
}

/* Desaparece splash */
#splash.fade{
  opacity:0;
  pointer-events:none;
}

/* PAGE */

#page{
  min-height:100vh;
  background:white;
  opacity:0;
  transition:opacity 1.5s ease;
}

#page.show{
  opacity:1;
}

.hidden{
  opacity:0;
}
